@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

html,
body {
  max-width: 1440px;
  margin: auto;
  /* padding-inline: 10px; */
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #5bb379;
  transition: all .2s ease-in;
}

button,
input,
textarea {
  font-family: inherit;
}

@layer components {
  .footer-input {
    @apply bg-transparent lg:w-60 w-40 border rounded-md border-neutral pt-7px pb-10px pr-2 
  }
  .diamond-shape {
    @apply border border-primary py-2 px-2 rotate-45 rounded-sm border-2
  }
  .category-card {
    @apply absolute -bottom-4 z-10 bg-white w-36 pb-4 pt-2 flex justify-center rounded-sm shadow-md shadow-bordercolor
  }
  .link-click {
    @apply text-hovercolor border-b border-b-2 border-b-hovercolor pb-0.5
  }
  .forms-input {
    @apply border border-2 border-hovercolor rounded-md p-2 focus:ring-primary focus:invalid:border-pink-500 focus:invalid:ring-pink-500
  }
  .form-items {
    @apply flex flex-col justify-center gap-2
  }
  .form-button {
    @apply bg-primary pt-2 pb-3 text-white rounded-md font-bold hover:bg-hovercolor transition mt-2
  }
  .active-input {
    @apply border border-bordercolor rounded-md lg:w-72 w-full text-sm py-2 pr-3
  }
  .deactive-input {
    @apply border border-bordercolor rounded-md lg:w-72 w-full text-sm py-2 pr-3 bg-ash text-neutral
  }
  .dashboard-button {
    @apply border border-primary rounded-md px-8 hover:text-hovercolor hover:border-hovercolor transition
    pt-1 pb-2 flex items-center gap-1 w-32 justify-center
  }
  .show-search {
    @apply flex absolute z-10 left-0 top-[45px] w-full bg-white justify-center overflow-y-auto h-56 pt-4 border-2 border-bordercolor
  }
  .hambur-links {
    @apply flex items-center gap-2
  }
  .hambur-buttons {
    @apply flex items-center justify-between w-full
  }
}

